Events/Events-ejb/src/conf/xml-resources/web-service-references/Traiteur/wsdl/localhost_16569/Traiteur/Traiteur.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soap/">

<xs:element name="annulerTraiteur" type="tns:annulerTraiteur"/>

<xs:element name="annulerTraiteurResponse" type="tns:annulerTraiteurResponse"/>

<xs:element name="reserverTraiteur" type="tns:reserverTraiteur"/>

<xs:element name="reserverTraiteurResponse" type="tns:reserverTraiteurResponse"/>

<xs:complexType name="annulerTraiteur">
<xs:sequence>
<xs:element name="refProjet" type="xs:string" minOccurs="0"/>
<xs:element name="dateEvent" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="annulerTraiteurResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reserverTraiteur">
<xs:sequence>
<xs:element name="refProjet" type="xs:string" minOccurs="0"/>
<xs:element name="dateEvent" type="xs:dateTime" minOccurs="0"/>
<xs:element name="participants" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reserverTraiteurResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>